<%- include('../../layout/header.html') %>

<h1>Create a new book</h1>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
<ul>
    <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
    <% }); %>
</ul>
<% } %> 

<!-- Formulaire de creation d'un livre -->
<form method="post" novalidate>

    <!-- Title: string required -->
    <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" value="<%= title %>" required>
    </div>

    <!-- Description: string optional -->
    <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control"><%= description %></textarea>
    </div>
    
    <!-- Price: number requires -->
    <div class="mb-3">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" class="form-control
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <% errors.forEach(error => { %>
                <% if (error.path === 'price') { %>
                    is-invalid
                <% } else { %>
                    is-valid
                <% } %>
            <% }) %>
        <% } %>
        " step="0.01" min="0" max="100" value="<%= price %>" required>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <% errors.forEach(error => { %>
                <% if (error.path === 'price') { %>
                    <p class="text-danger"><%= error.msg %></p>
                <% } %>
            <% }) %>
        <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Add the book</button>
</form>

<%- include('../../layout/footer.html') %>