<%- include('../../layout/header.html') %>

<h1>All books</h1>

<hr>

<a href="/book">Add new book</a>

<hr>

<!-- Boucle sur la liste des livres -->

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < books.length; i++) { %>
        <tr>
            <td><a href="/book/<%= books[i]._id %>"><%= books[i].title %></a></td>
            <td><%= books[i].description %></td>
            <td><%= books[i].price %>&euro;</td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('../../layout/footer.html') %>